.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    flex-direction: column;
    background-color: #111;

    .box {
        width: 120px;
        height: 120px;
    }
}