@font-face {
    font-family: GilroyLight;
    src: url(./font/Gilroy-Light.ttf);
}

@font-face {
    font-family: GilroyThin;
    src: url(./font/Gilroy-Thin.ttf);
}

@font-face {
    font-family: GilroyUltraLight;
    src: url(./font/Gilroy-UltraLight.ttf);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
}

html {
    background-color: #1d1d1d;
    color: rgb(229, 229, 229);
    font-family: GilroyLight;
}