* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  /* height: 100%; */
  padding: 2rem 2rem;
  /* background-color: darkblue; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
}

.card {
  width: 20rem;
  height: 25rem;
  /* background-color: darkred; */
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;

}

.bottom {
  width: 100%;
  height: 30%;
  background: linear-gradient(transparent, black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 0rem 2.5rem;
  position: absolute;
  bottom: -30%;
  transition: all ease 0.3s;
}

.bottom h3 {
  font-size: 1.8rem;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card:hover .bottom {
  bottom: -0%;
}