@font-face {
  font-family: Fontspring;
  src: url("./Fontspring-DEMO-organetto-bold.otf");
}
@font-face {
  font-family: Helvetica;
  src: url("./Fontspring-DEMO-organetto-bold.otf");
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}
html .CONTENT, body .CONTENT {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .CONTENT .poster, body .CONTENT .poster {
  width: 50%;
  height: 100%;
  background-color: efebe1;
  border-radius: 0.3rem;
  padding: 3rem 4rem;
}
html .CONTENT .poster .LogoSection, body .CONTENT .poster .LogoSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html .CONTENT .poster .LogoSection .colortheme, body .CONTENT .poster .LogoSection .colortheme {
  display: flex;
  justify-content: center;
  align-items: center;
}
html .CONTENT .poster .LogoSection .colortheme .color1, body .CONTENT .poster .LogoSection .colortheme .color1 {
  width: 3rem;
  height: 1rem;
  background-color: #252325;
}
html .CONTENT .poster .LogoSection .colortheme .color2, body .CONTENT .poster .LogoSection .colortheme .color2 {
  width: 3rem;
  height: 1rem;
  background-color: #b77955;
}
html .CONTENT .poster .LogoSection .colortheme .color3, body .CONTENT .poster .LogoSection .colortheme .color3 {
  width: 3rem;
  height: 1rem;
  background-color: #34314a;
}
html .CONTENT .poster .LogoSection .logo img, body .CONTENT .poster .LogoSection .logo img {
  width: 9rem;
  height: 5rem;
}
html .CONTENT .poster .textContent, body .CONTENT .poster .textContent {
  width: 100%;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html .CONTENT .poster .textContent .name h1, body .CONTENT .poster .textContent .name h1 {
  font-size: 7rem;
  text-align: left;
  font-family: Fontspring;
  color: #262021;
}
html .CONTENT .poster .textContent .desc p, body .CONTENT .poster .textContent .desc p {
  text-align: right;
  color: #b77955;
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html .CONTENT .poster .imgPoster, body .CONTENT .poster .imgPoster {
  width: 100%;
  padding-left: 0.5rem;
}
html .CONTENT .poster .imgPoster img, body .CONTENT .poster .imgPoster img {
  width: 100%;
}
html .CONTENT .poster .FinalContent, body .CONTENT .poster .FinalContent {
  width: 100%;
  padding: 1rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html .CONTENT .poster .FinalContent .desc, body .CONTENT .poster .FinalContent .desc {
  padding-left: 0.5rem;
}
html .CONTENT .poster .FinalContent .desc p, body .CONTENT .poster .FinalContent .desc p {
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html .CONTENT .poster .FinalContent .btn .btnExplore, body .CONTENT .poster .FinalContent .btn .btnExplore {
  padding: 0.8rem 1.7rem;
  background-color: #34314a;
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.5rem;
}
html .CONTENT .poster .FinalContent .btn .btnExplore:hover, body .CONTENT .poster .FinalContent .btn .btnExplore:hover {
  background-color: #252325;
  cursor: pointer;
  border-radius: 0.5rem;
  scale: 0.95;
}/*# sourceMappingURL=style.css.map */